/* Set the chart image as the span's background */
span#chart {
    background-image: url("BMI_chart.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 800px;
    height: 450px;
    display: inline-block;
    position: relative;
    padding-top: 5px;
}

/* Style for the person image */
img.person {
    position: absolute;
}